
<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>
    <li>
      <a routerLink="/estimate">Estimate</a>
    </li>
    <li>
      <a routerLink="/automation">Automation</a>
    </li>
    <li>
      <a routerLink="/smartBlinds">Smart Blinds</a>
    </li>
    <li>
      <a routerLink="/quiz">Product Recommendation</a>
    </li>
  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
<div class="container">
  <div class="float-right">
    <div class="toggle_icon" title="Menu Bar">
      <span></span>
    </div>
  </div>
</div>
</div>
<header class="hero-banner project-bg">
  <a class="navbar-brand" routerLink="/" style="z-index: 500000 !important;">
    <img src="../../assets/img/logo.png" alt="">
  </a>

  <div class="container">
    <h2 class="section-intro__subtitle" style="color: white !important;">Cost Estimate</h2>
    <div class="btn-group breadcrumb">
      <a  routerLink="/" class="btn">Home</a>
      <span class="btn ">Estimate</span>
    </div>
  </div>
</header>


<section class="portfolio section-margin">
  <div class="container" >
    <div class="section-intro">
      <h4 class="section-intro__title"><b>COST ESTIMATE</b></h4>
      <h2 class="section-intro__subtitle bottom-border">Request A Quote</h2>
    </div>
    <div *ngIf="!isSuccess && !isClicked">
      <div style="color: red; padding-left: 20px; font-size: 25px;" *ngIf="!valid">* Please fill all the fields</div> <br>
    <div class="row align-items-end pb-md-5 mb-4" style="justify-content: space-between !important;">
      <div class="col-md-6 col-sm-12">
        <div>
          <input type="string" placeholder="First Name" [(ngModel)]="firstname">
        </div>
      </div>
      <div class="col-md-6 col-sm-12 second-row" >
        <div>
          <input type="string" placeholder="Last Name" [(ngModel)]="secondname">
        </div>
      </div>
</div>
<div class="row align-items-end pb-md-5 mb-4" style="justify-content: space-between !important;">
  <div class="col-md-12">
    <div>
      <input type="string" placeholder="Address Line 1" [(ngModel)]="address">
    </div>
  </div>
</div>
<div class="row align-items-end pb-md-5 mb-4" style="justify-content: space-between !important;">
  <div class="col-md-12">
    <div>
      <input type="string" placeholder="Address Line 2" [(ngModel)]="address2">
    </div>
  </div>
</div>
<div class="row align-items-end pb-md-5 mb-4" style="justify-content: space-between !important;">
  <div class="col-md-6">
    <div>
      <input type="number" placeholder="Phone Number" [(ngModel)]="phoneNo">
    </div>
  </div>
  <div class="col-md-6 second-row">
    <div>
      <input type="email" placeholder="Email" [(ngModel)]="email">
    </div>
  </div>
</div>
<div style="font-size: 25px; font-weight: bold;">
  <br>
  Enter the Number of Windows and the Width and Height of Each Window (In Inches):
  <br>
</div>
<br>
<br>
<br>
<div class="table-content">
  <table style="width: 100%; font-size: 15px;">
    <tr style="border-bottom: 3px solid  #4F4E56; text-align: center; ">
      <th><b>ROOM</b></th>
      <th><b>QUANTITY</b></th>
      <th><b>WIDTH</b></th>
      <th><b>HEIGHT</b></th>
      <th><b>TYPE OF BIND</b></th>

    </tr>
    <tbody class="margin">
    <tr *ngFor="let item of estimateData">
      <td><input type="string" class="tableInput" [(ngModel)]="item.room"></td>
      <td><input type="string" class="tableInput" [(ngModel)]="item.quantity"></td>
      <td>
        <div style="display: flex;">
          <div>
            <input type="number" class="tableInput" [(ngModel)]="item.width">
          </div>
          <div>
          <select style="padding: 5px; margin-top: 10px;  font-size: 20px; border: 3px solid #4F4E56; padding-bottom: 10px;        " [(ngModel)]="item.widthf">
            <option value="0" selected>
              NA
            </option>
            <option value="1/8">
              1/8
            </option>
            <option value="1/4">
              1/4
            </option>
            <option value="3/8">
              3/8
            </option>

            <option value="1/2">
              1/2
            </option>
            <option value="5/8">
              5/8
            </option>
            <option value="3/4">
              3/4
            </option>
            <option value="7/8">
              7/8
            </option>
          </select>
        </div>
        </div></td>
      <td> <div style="display: flex;">
        <div>
          <input type="number" class="tableInput"[(ngModel)]="item.height">
        </div>
        <div>
        <select class="" style="padding: 5px; margin-top: 10px;  font-size: 20px; border: 3px solid #4F4E56; padding-bottom: 10px;        " [(ngModel)]="item.heightf">
          <option value="0" selected>
            NA
          </option>
          <option value="1/8">
            1/8
          </option>
          <option value="1/4">
            1/4
          </option>
          <option value="3/8">
            3/8
          </option>

          <option value="1/2">
            1/2
          </option>
          <option value="5/8">
            5/8
          </option>
          <option value="3/4">
            3/4
          </option>
          <option value="7/8">
            7/8
          </option>


        </select>
      </div>
      </div></td>
      <td>
        <select class="tableInput" [(ngModel)]="item.typeOfBind">
          <option *ngFor="let item of products" [value] = 'item.name'> {{ item.name }}</option>
        </select>
      </td>
    </tr>
  </tbody>
  </table>
</div>
<div style="width: 100%; display: flex; margin-top: 50px; padding-right: 10px; padding-left: 20px; align-items: center; justify-content: center;">
<div>
  <div class="text-center pt-2">
    <button class="btn btn--rightBorder  centerButton" (click)="submit()" [disabled]= 'isClicked'>SUBMIT</button>
  </div>
</div>
<div style="flex-grow: 1;">

</div>
<div style="display: flex;">
  <div (click)="removeRoom()" *ngIf="estimateData.length > 1">
    <img src="../../assets/img/min.png" style="width: 55px;">
  </div>
  &nbsp; &nbsp;
  <div (click)="addRoom()">
    <img src="../../assets/img/icon.png" style="width: 55px;">
  </div>

</div>
</div>
</div>
<app-loader *ngIf="isClicked"></app-loader>

<div *ngIf="isSuccess">
  <br>
  <br>
  <div style="width:  100%; text-align: center;">
    <h3 style="color: rgb(83, 182, 83);">Thanks For Your Response. </h3>
    <h5>We will contact you shortly</h5>
    <a class="btn btn--rightBorder  btn--leftBorder  centerButton" routerLink="/">Home</a>
  </div>
</div>
</div>
</section>
