input {
  width: 100%;
  font-size: 25px;
  background-color: white;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: #4F4E56;

}

table {
  table-layout: fixed;
}

*:focus {
  outline: none;
}
b {
  color: #4F4E56;
}
.tableInput {
  border: 3px solid #4F4E56;
  border-radius: 0px;
  font-size: 20px;
  padding: 5px;
  width: 85%;
  margin-top: 10px;
}
.margin {
  margin-top: 20px;
}
tr {
  line-height: 30px;
}
td {
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 740px) {
  .second-row {
    margin-top: 25px;
  }
  table {
    width: 700px !important;
    margin-bottom: 20px;

  }
  .table-content {
    display:block;
    overflow:scroll;
  }
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
