<footer class="footer footer-bg">
  <div class="container" >
    <div style="display: flex;" >
      <div style="color: white !important;">
        <h1>  <b style="color: white !important;">LOCATION</b></h1>
        <br>
        <h3>
          13955 Laurel Dr, Surrey, BC V3T <br> 1A8, CA
        </h3>
      </div>
      <div style="flex-grow: 1;">

      </div>
      <div style="color: white !important;">
        <h1>  <b style="color: white !important;">GET IN TOUCH</b></h1>
        <br>
        <div style="display: flex; justify-content: flex-end;">
            <div>
               <a href="https://wa.me/16043622585" target="blank"> <img src="../../assets/img/whatsapp.png"> </a>
            </div>

            <div style="margin-left: 20px;">
              <a href="https://www.facebook.com/rayblindsinc/" target="blank"> <img src="../../assets/img/facebook.png"> </a>

            </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</footer>
