<footer class="footer footer-bg">
  <div class="container" >
    <div style="display: flex; flex:1" >
      <div style="color: white !important;">
        <h1>  <b style="color: white !important;">LOCATION</b></h1>
        <br>
        <h3>
          13955 Laurel Dr, Surrey, BC V3T <br> 1A8, Canada (By Appointment Only)
        </h3>
      </div>
      <div style="flex-grow: 1;">

      </div>
      <div style="color: white !important; text-align: right; flex:1">
        <h1>  <b style="color: white !important;">GET IN TOUCH</b></h1>
        <br>
       <p  class="email"><a href="mailto:info@rayblinds.ca" style="text-decoration: none; color: white;">info@rayblinds.ca</a></p>
       <p  class="email"><a href="tel:6043622585" style="text-decoration: none; color: white;">(604) 362-2585</a></p>

        <div style="display: flex; justify-content: flex-end;">
            <div>
               <a href="https://wa.me/16043622585" target="blank"> <img src="../../assets/img/whatsapp.png"> </a>
            </div>

            <div style="margin-left: 20px;">
              <a href="https://www.facebook.com/rayblindsinc/" target="blank"> <img src="../../assets/img/facebook.png"> </a>

            </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</footer>
