

img {
  width: 40px;
}
.email {
  font-size: 25px;
}
@media screen and (max-width: 740px) {
  h1 {
    font-size: 18px;
  }
  h3 {
    font-size: 12px;
  }
  img {
    width: 35px;
  }
  .email {
    font-size: 12px;
  }

}
