<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>
    <li>
      <a routerLink="/estimate">Estimate</a>
    </li>
    <li>
      <a routerLink="/automation">Automation</a>
    </li>
    <li>
      <a routerLink="/smartBlinds">Smart Blinds</a>
    </li>
    <li>
      <a routerLink="/quiz">Product Recommendation</a>
    </li>
    <li>
      <a routerLink="/blogList">Blogs</a>
    </li>
  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
  <div class="container">
    <div class="float-right">
      <div class="toggle_icon" title="Menu Bar">
        <span></span>
      </div>
    </div>
  </div>
</div>
<header class="hero-banner project-bg">
  <a class="navbar-brand" routerLink="/" style="z-index: 500000 !important;">
    <img src="../../assets/img/logo.png" alt="">
  </a>

  <div class="container">
    <h2 class="section-intro__subtitle" style="color: white !important;">Blogs</h2>
    <div class="btn-group breadcrumb">
      <a routerLink="/" class="btn">Home</a>
      <span class="btn ">Blogs</span>
    </div>
  </div>
</header>


<section class="portfolio section-margin">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title">OUR Blogs</h4>
    </div>

    <div class="row align-items-end pb-md-5 mb-4">
      <div class="col-md-7 mb-4 mb-md-0">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/Difference between blinds and curtains.jpg" alt="">
        </div>
      </div>
      <div class="col-md-5 mb-5 pl-xl-5">
        <h2 class="section-intro__subtitle small">Curtains VS Blinds: Which is better?</h2>
        <p class="description">Woodworking chemicals adjust the light to ensure safety and enhance the space’s overall
          style, making you
          worry more. The most famous type of window treatments integrates roller blinds, blinds, and Roman blinds, as
          well as barrier-free blinds, hung on pillars and is quantified by the size of curtain....</p>
        <div style="width: 100%; text-align: center !important;" class="btn-mobile">
          <a class="btn btn--rightBorder btn--leftBorder mt-3" routerLink="/curtains-vs-blinds">Read More</a>

        </div>
        <a class="btn btn--rightBorder mt-3 btn-web" routerLink="/curtains-vs-blinds">Read More</a>
      </div>
    </div>

    <div class="row align-items-end pb-md-5 mb-4 section-project">
      <div class="col-md-5 mb-5 pr-xl-5 order-2 order-md-1">
        <h2 class="section-intro__subtitle small">Best Ways to Clean Blinds Easily / Quickly / Yourself</h2>
        <p class="description">
          Of course, you clean the windows regularly, but shouldn’t this account for the blinds and awnings that cover
          them? They also need TLC, so you need to know how to clean the blinds. Blinds, whether made of vinyl, wood,
          texture, or aluminum, are great for keeping the room cool, blocking light, and avoiding contact with
          neighbors, but at the same time,...
        </p>
        <div style="width: 100%; text-align: center !important;" class="btn-mobile">
          <a class="btn btn--rightBorder btn--leftBorder mt-3" routerLink="/best-ways-to-clean-blinds-easily">Read
            More</a>

        </div>
        <a class="btn btn--rightBorder mt-3 btn-web" routerLink="/best-ways-to-clean-blinds-easily">Read More</a>
      </div>
      <div class="col-md-7 mb-4 mb-md-0 order-1 order-md-2">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/Clean_Blinds_Easily.jpg" alt="" style="max-height: 600px;">
        </div>
      </div>
    </div>

    <div class="row align-items-end pb-md-5 mb-4">
      <div class="col-md-7 mb-4 mb-md-0">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/Are blinds expensive.jpg" alt="">
        </div>
      </div>

      <div class="col-md-5 mb-5 pl-xl-5">
        <h2 class="section-intro__subtitle small">A Complete Guide About Window Blinds</h2>
        <p class="description">The window sash or blind is a kind of curtain. There are several types of blinds that use
          various control frames. Ordinary window blinds are composed of long flat (or vertical) supports made of
          different types of hard materials (including wood, plastic, or metal). These supports are fixed together by
          ropes passing through the brackets for the visually impaired. The vertical blinds extend along the length of
          the track frame and can be opened...</p>
        <div style="width: 100%; text-align: center !important;" class="btn-mobile">
          <a class="btn btn--rightBorder btn--leftBorder mt-3" routerLink="/complete-guide-about-window-blinds">Read
            More</a>

        </div>
        <a class="btn btn--rightBorder mt-3 btn-web" routerLink="/complete-guide-about-window-blinds">Read More</a>
      </div>
    </div>


    <!-- <div style="width: 100%; text-align: center;">
      <a class="btn btn--rightBorder btn--leftBorder mt-3">
        Show More
      </a>
    </div> -->
  </div>
</section>
