
<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>
    <li>
      <a routerLink="/estimate">Estimate</a>
    </li>
    <li>
      <a routerLink="/automation">Automation</a>
    </li>
    <li>
      <a routerLink="/smartBlinds">Smart Blinds</a>
    </li>
    <li>
      <a routerLink="/catalog">Catalog</a>
      </li>
      <li>
      <a routerLink="/quiz">Product Recommendation</a>
    </li>
  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
<div class="container">
  <div class="float-right">
    <div class="toggle_icon" title="Menu Bar">
      <span></span>
    </div>
  </div>
</div>
</div>
<header class="hero-banner project-bg">
  <a class="navbar-brand" routerLink="/" style="z-index: 500000 !important;">
    <img src="../../assets/img/logo.png" alt="">
  </a>

  <div class="container">
    <h2 class="section-intro__subtitle" style="color: white !important;">Quiz</h2>
    <div class="btn-group breadcrumb">
      <a  routerLink="/" class="btn">Home</a>
      <span class="btn ">Quiz</span>
    </div>
  </div>
</header>
<section class="portfolio section-margin" style="margin-bottom: 0px !important;">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title"><b>Quiz</b></h4>
      <h2 class="section-intro__subtitle bottom-border">Product Recommendation</h2>
    </div>
    <div class="card" [style.background-color]="showRecommendation ? '#ECECEC': '#fff'">
      <div class="card-body">
    <div style="text-align:center;">
      <div *ngIf="!isBegin && !showRecommendation">
      <h2 class="instruction"> Answer following questions to discover blinds that best suit your needs</h2>
      <br>
      <br>
      <br>
      <button class="btn btn--rightBorder btn--leftBorder" (click)="begin()">Begin</button>
    </div>
    <div *ngIf="isBegin && !showRecommendation">
      <h2 class="instruction">{{ questions[counter].question }}</h2>
      <div style=" margin-right: auto; margin-left: auto; width:fit-content">
      <div *ngFor="let item of questions[counter].options; let i = index;" style="text-align: left; padding-left: 30px;">
        <input type="checkbox" value="{{ questions[counter].options[i].name }}" name="{{ questions[counter].options[i].name }}"  (change)="onOptionSelect($event, i)" >
        <label for="{{  questions[counter].options[i].name }}" style="font-size: 18px; ">&nbsp; {{ questions[counter].options[i].name }}</label>
      </div>
      <button class="buttonRed" (click)="optionClicked()" *ngIf="counter !== questions.length - 1">Next</button>
      <button class="buttonRed"  (click)="submitQuiz()" *ngIf="counter === questions.length - 1">
        Submit
      </button>
    </div>
    </div>
    <div *ngIf="showRecommendation" style="text-align:left">
      <div *ngFor="let item of recommendation; let i = index">
        <div class="row">
          <div class="portfolio__img col-md-3 parent">
            <div style="display: flex; justify-content: center;">
              <div style="font-size: 15px; ">
                <b>
                {{ i + 1 }}
              </b>
              </div>
              <div>
                <img [src]= "item.img" class="img-fluid" style="max-width: 200px;">
              </div>
            </div>
          </div>
          <div class="col-md-9 parent">
            <h1 class="blindHeading">
             <b> {{item.name}}</b>
            </h1>
            <p>
              {{ item.content }}
            </p>
            <button class="buttonRed"  (click)="routerButton(item.id)" >
              Know More
            </button>

          </div>
        </div>
        <hr>
      </div>
    </div>
    </div>
  </div>
  <div *ngIf="showRecommendation" style="text-align:left">
    <div *ngFor="let item of blinds.slice(0, 3); let i = index">
      <div class="row">
        <div class="portfolio__img col-md-3 parent">
          <div style="display: flex; justify-content: center;">
            <div style="font-size: 15px; ">
              <b>
              {{ i + 1 }}
            </b>
            </div>
            <div>
              <img [src]= "item.img" class="img-fluid" style="max-width: 200px;">
            </div>
          </div>
        </div>
        <div class="col-md-9 parent">
          <h1 class="blindHeading">
           <b> {{item.name}}</b>
          </h1>
          <p>
            {{ item.content }}
          </p>
          <button class="buttonRed"  (click)="routerButton(item.id)">
            Know More
          </button>
        </div>
      </div>
      <hr>
    </div>
  </div>
    </div>

    </div>
    <br>
    <br>
    <br>
    <section class="tips tips-bg" *ngIf="showRecommendation" style="margin-bottom: 0px !important;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-4 mb-lg-0">
            <h2 class="section-intro__subtitle">Request free In-Home or Virtual consultation</h2>
            <p>Provide your contact information and we will be in touch via phone, email or text to schedule your free consultation</p>
          </div>

          <div class="col-lg-5 text-center text-lg-right">
            <a class="btn btn-dark btn--leftBorder btn--rightBorder" routerLink="/consultation">Request</a>
          </div>
        </div>
      </div>
    </section>
