.option {
  background-color: transparent;
  border-radius: 50px;
  color: #262533;
  font-size: 20px;
  margin-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  opacity: 0.8;
}
.option:hover {
  background-color: #f94741;

}
.blindHeading {
  font-size: 20px;

}
b {
  color: #262533 !important;
  opacity: 0.8;
}
.parent {
  text-align: left;
}
@media screen and (max-width: 740px) {
  .parent {
    text-align: center;
  }
}
