.option {
  background-color: transparent;
  border-radius: 50px;
  color: #262533;
  font-size: 20px;
  margin-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  opacity: 0.8;
}
.option:hover {
  background-color: #f94741;

}
