.option {
  background-color: transparent;
  border-radius: 50px;
  color: #262533;
  font-size: 20px;
  margin-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  opacity: 0.8;
}
.buttonRed{
	width:100px;
	height:40px;
	bottom:40px;
  right:40px;
	background-color:#f94741;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}


.option:hover {
  background-color: #f94741;

}
.blindHeading {
  font-size: 20px;

}
b {
  color: #262533 !important;
  opacity: 0.8;
}
.parent {
  text-align: left;
}
@media screen and (max-width: 740px) {
  .parent {
    text-align: center;
  }
}
