
<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="about.html">About</a>
    </li>
    <li>
      <a href="projects.html">Projects</a>
    </li>
    <li>
      <a href="service.html">Service</a>
    </li>
    <li>
      <a href="#">Pages</a>
      <ul class="list">
        <li>
          <a href="elements.html">Elements</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Blog</a>
      <ul class="list">
        <li>
          <a href="blog.html">Blog</a>
        </li>
        <li>
          <a href="single-blog.html">Blog Details</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="contact.html">Contact</a>
    </li>
  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
<div class="container">
  <div class="float-right">
    <div class="toggle_icon" title="Menu Bar">
      <span></span>
    </div>
  </div>
</div>
</div>
<header class="hero-banner project-bg">
  <a class="navbar-brand" href="index.html">
    <img src="../../assets/img/logo.png" alt="">
  </a>

  <div class="container">
    <h2 class="section-intro__subtitle" style="color: white !important;">Our Products</h2>
    <div class="btn-group breadcrumb">
      <a href="#/" class="btn">Home</a>
      <span class="btn btn--rightBorder">Products</span>
    </div>
  </div>
</header>


<section class="portfolio section-margin">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title"><b>PRODUCT GALLERY</b></h4>
      <h2 class="section-intro__subtitle bottom-border">Latest Completed Projects</h2>
    </div>

    <div class="row align-items-end pb-md-5 mb-4" style="justify-content: space-between !important;">
      <div class="col-md-5 mb-4 mb-md-0">
        <div class="portfolio__img" >
          <img class="img-fluid" src="../../assets/img/img-edit.png" alt="" style="width: 100%;">
        </div>
        <div class="text-center pt-2">
          <p style="font-size: 25px; margin-bottom: 0px; color: #4F4E56">Zebra Blackout Blinds</p>
         </div>
        <div class="text-center pt-2">
          <button class="btn btn--rightBorder btn--leftBorder">DETAILS</button>
        </div>
      </div>
      <div class="col-md-5 mb-4 mb-md-0">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/img-edit.png" alt="" style="width: 100%;">
        </div>
        <div class="text-center pt-2">
          <p style="font-size: 25px; margin-bottom: 0px; color: #4F4E56">Zebra Blackout Blinds</p>
         </div>
        <div class="text-center pt-2">
          <button class="btn btn--rightBorder btn--leftBorder">DETAILS</button>
        </div>
      </div>
    </div>
    <div class="row align-items-center pb-md-5 mb-4" style="justify-content: space-between !important;">
      <div class="col-md-5 mb-4 mb-md-0">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/img-edit.png" alt="" style="width: 100%;">
        </div>
        <div class="text-center pt-2">
         <p style="font-size: 25px; margin-bottom: 0px; color: #4F4E56">Zebra Blackout Blinds</p>
        </div>
        <div class="text-center pt-2">
          <button class="btn btn--rightBorder btn--leftBorder">DETAILS</button>
        </div>
      </div>
      <div class="col-md-5 mb-4 mb-md-0" >
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/img-edit.png" alt="" style="width: 100%;">
        </div>
        <div class="text-center pt-2">
          <p style="font-size: 25px; margin-bottom: 0px; color: #4F4E56">Zebra Blackout Blinds</p>
         </div>
        <div class="text-center pt-2">
          <button class="btn btn--rightBorder btn--leftBorder">DETAILS</button>
        </div>
      </div>
    </div>
   </div>
</section>
