
<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>
    <li>
      <a routerLink="/estimate">Estimate</a>
    </li>
    <li>
      <a routerLink="/automation">Automation</a>
    </li>
    <li>
      <a routerLink="/quiz">Get Recommendation</a>
    </li>

  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
<div class="container">
  <div class="float-right">
    <div class="toggle_icon" title="Menu Bar">
      <span></span>
    </div>
  </div>
</div>
</div>
<header class="hero-banner project-bg">
  <a class="navbar-brand" routerLink="/" style="z-index: 500000 !important;">
    <img src="../../assets/img/logo.png" alt="">
  </a>

  <div class="container">
    <h2 class="section-intro__subtitle" style="color: white !important;">Our Products</h2>
    <div class="btn-group breadcrumb">
      <a routerLink="/" class="btn">Home</a>
      <span class="btn ">Products</span>
    </div>
  </div>
</header>


<section class="portfolio section-margin">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title"><b>PRODUCT GALLERY</b></h4>
      <h2 class="section-intro__subtitle bottom-border">Catalogue Of Products </h2>
    </div>

    <div class="row align-items-end pb-md-5 mb-4" style="justify-content: space-between !important; ">
      <div class="col-md-5 mb-4 mb-md-0" *ngFor="let item of products" style="margin-top: 50px !important;">
        <div class="portfolio__img" >
          <img class="img-fluid" [src]='item.img' alt="" style="width: 100%;">
        </div>
        <div class="text-center pt-2">
          <p style="font-size: 25px; margin-bottom: 0px; color: #4F4E56">{{ item.name }}</p>
         </div>
        <div class="text-center pt-2">
          <button class="btn btn--rightBorder btn--leftBorder" (click)='changeRoute(item.id)'>DETAILS</button>
        </div>
      </div>

    </div>
   </div>
</section>
