<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="about.html">About</a>
    </li>
    <li>
      <a href="projects.html">Projects</a>
    </li>
    <li>
      <a href="service.html">Service</a>
    </li>
    <li>
      <a href="#">Pages</a>
      <ul class="list">
        <li>
          <a href="elements.html">Elements</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Blog</a>
      <ul class="list">
        <li>
          <a href="blog.html">Blog</a>
        </li>
        <li>
          <a href="single-blog.html">Blog Details</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="contact.html">Contact</a>
    </li>
  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
<div class="container">
  <div class="float-right">
    <div class="toggle_icon" title="Menu Bar">
      <span></span>
    </div>
  </div>
</div>
</div>
<header class="hero-banner project-bg">
  <a class="navbar-brand" href="index.html">
    <img src="../../assets/img/logo.png" alt="">
  </a>

  <div class="container">
    <h2 class="section-intro__subtitle" style="color: white !important;">Product Details</h2>
    <div class="btn-group breadcrumb">
      <a href="#/" class="btn">Home</a>
      <a href="#/" class="btn">Products</a>
      <span class="btn btn--rightBorder">Product-Detail</span>
    </div>
  </div>
</header>


<section class="portfolio section-margin">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title"><b>PRODUCT Detail</b></h4>
      <h2 class="section-intro__subtitle bottom-border">Latest Completed Projects</h2>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/product.png" alt="" style="width: 100%;">
        </div>
      </div>
      <div class="col-md-7">
        <div style="font-size: 25px;">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
        </div>
        <br>
        <div class="text-left pt-2">
          <button class="btn btn--rightBorder">VIEW IMAGES</button>
        </div>
      </div>
    </div>
    </div>
    </section>
