<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>
    <li>
      <a routerLink="/estimate">Estimate</a>
    </li>
    <li>
      <a routerLink="/automation">Automation</a>
    </li>
    <li>
      <a routerLink="/smartBlinds">Smart Blinds</a>
    </li>
    <li>
      <a routerLink="/quiz">Product Recommendation</a>
    </li>

  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
<div class="container">
  <div class="float-right">
    <div class="toggle_icon" title="Menu Bar">
      <span></span>
    </div>
  </div>
</div>
</div>
<header class="hero-banner project-bg">
  <a class="navbar-brand" routerLink="/" style="z-index: 500000 !important;">
    <img src="../../assets/img/logo.png" alt="">
  </a>

  <div class="container">
    <h2 class="section-intro__subtitle" style="color: white !important;">Product Details</h2>
    <div class="btn-group breadcrumb">
      <a routerLink="/" class="btn">Home</a>
      <a routerLink="/products" class="btn">Products</a>
      <span class="btn ">Product-Detail</span>
    </div>
  </div>
</header>


<section class="portfolio section-margin">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title"><b>PRODUCT Detail</b></h4>
      <h2 class="section-intro__subtitle bottom-border">{{ selectedProduct.name }}</h2>
    </div>
    <div class="row ">
      <div class="col-md-5" class="mobile-image">
        <div class="portfolio__img">
          <img class="img-fluid" [src]= 'selectedProduct.img' alt="" style="width: 100%;">
        </div>
      </div>
      <div class="col-md-12" class="pc-image">
        <div class="portfolio__img" style="text-align: center;">
          <img class="img-fluid" [src]= 'selectedProduct.img2' alt="" style=" max-height: 500px; margin: auto;">
        </div>
      </div>
      <div class="col-md-7 details" class="mobile-image">
        <div style="font-size: 28px; " class="description">
          {{ selectedProduct.content }}
        </div>

        <br>
        <div class="text-left pt-2">
          <button class="btn btn--rightBorder rightButton" (click)="changeRoute()">VIEW IMAGES</button>
        </div>
        <div class="text-center pt-2">
          <a class="btn btn--rightBorder btn--leftBorder centerButton" (click)="changeRoute()">VIEW IMAGES</a>
        </div>
      </div>
      <div class="col-md-12 details" class="pc-image">
        <br>
        <div style="font-size: 28px; " class="description">
          {{ selectedProduct.content }}
        </div>

        <br>
        <div class="text-left pt-2">
          <button class="btn btn--rightBorder rightButton" (click)="changeRoute()">VIEW IMAGES</button>
        </div>
        <div class="text-center pt-2">
          <a class="btn btn--rightBorder btn--leftBorder centerButton" (click)="changeRoute()">VIEW IMAGES</a>
        </div>
      </div>
    </div>
    </div>
    </section>

    <section class="tips tips-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-4 mb-lg-0">
            <h2 class="section-intro__subtitle">Get to Know Project Estimate?</h2>
            <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether that is on the deck</p>
          </div>

          <div class="col-lg-5 text-center text-lg-right">
            <a class="btn btn-dark btn--leftBorder btn--rightBorder" routerLink="/estimate">Get Estimate</a>
          </div>
        </div>
      </div>
    </section>
