.centerButton {
  display: none;
}
.mobile-image {
  display: none;
}

@media screen and (max-width: 600px) {
  .details {
    margin-top: 50px !important;
  }
  .rightButton {
    display: none;
  }
  .centerButton {
    display: inline !important;
  }
  .mobile-image {
    display: block;
  }
  .pc-image {
    display: none;
  }
}
