<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>
    <li>
      <a routerLink="/estimate">Estimate</a>
    </li>
    <li>
      <a routerLink="/automation">Automation</a>
    </li>
    <li>
      <a routerLink="/smartBlinds">Smart Blinds</a>
    </li>
    <li>
      <a routerLink="/quiz">Recommendation</a>
    </li>
  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
<div class="container">
  <div class="float-right">
    <div class="toggle_icon" title="Menu Bar">
      <span></span>
    </div>
  </div>
</div>
</div>
<header class="hero-banner project-bg">
  <a class="navbar-brand" routerLink="/" style="z-index: 500000 !important;">
    <img src="../../assets/img/logo.png" alt="">
  </a>

  <div class="container">
    <h2 class="section-intro__subtitle" style="color: white !important;">Product Details</h2>
    <div class="btn-group breadcrumb">
      <a routerLink="/" class="btn">Home</a>
      <a routerLink="/products" class="btn">Products</a>
      <span class="btn ">Product-Detail</span>
    </div>
  </div>
</header>


<section class="portfolio section-margin">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title"><b>PRODUCT Detail</b></h4>
      <h2 class="section-intro__subtitle bottom-border">Automatic Shades</h2>
    </div>
    <div class="row ">
      <div class="col-md-5">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/457/Smart Blinds.png" alt="" style="width: 100%;">
        </div>
      </div>

      <div class="col-md-7 details">
        <br>
        <div style="font-size: 20px; " class="description">
          <p>
            Ray Blinds offers premium quality rechargeable and electric motorized blinds which can be customized with your preferred fabric.
These shades provide comfort and luxury to your window treatments. Motorized blinds are especially helpful for hard to reach or large windows.
Our motorized blinds are easy to operate. It is possible to open or close multiple blinds with just the click of a button.
The cordless option makes them sleek and most importantly, child safe.
Blinds that can be motorized are - zebra, roller, Shangri-la and honeycomb.
          </p>
          <b style="color: #898989; font-weight: bold;">Features:</b>
          <ul style="list-style-type: disc;">
            <li>
              A durable investment (5 years replacement warranty).
            </li>
            <li>
              A best in the class silent motor so that you can enjoy all your moments undisturbed!
            </li>
            <li>
              A wide variety of fabrics and blind options to choose from.
            </li>
            <li>
              Excellent for hard to reach or large windows.
            </li>
            <li>
              Convenient to operate.
            </li>
            <li>
              Operate multiple blinds with just one button.
            </li>
            <li>
              Child safety.
            </li>
          </ul>
        </div>
        <br>


      </div>
    </div>
    </div>
    </section>
