<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>
    <li>
      <a routerLink="/estimate">Estimate</a>
    </li>
    <li>
      <a routerLink="/automation">Automation</a>
    </li>

  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
<div class="container">
  <div class="float-right">
    <div class="toggle_icon" title="Menu Bar">
      <span></span>
    </div>
  </div>
</div>
</div>
<header class="hero-banner project-bg">
  <a class="navbar-brand" routerLink="/" style="z-index: 500000 !important;">
    <img src="../../assets/img/logo.png" alt="">
  </a>

  <div class="container">
    <h2 class="section-intro__subtitle" style="color: white !important;">Product Details</h2>
    <div class="btn-group breadcrumb">
      <a routerLink="/" class="btn">Home</a>
      <a routerLink="/products" class="btn">Products</a>
      <span class="btn ">Product-Detail</span>
    </div>
  </div>
</header>


<section class="portfolio section-margin">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title"><b>PRODUCT Detail</b></h4>
      <h2 class="section-intro__subtitle bottom-border">Automatic Shades</h2>
    </div>
    <div class="row ">
      <div class="col-md-5">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/457/Smart Blinds.png" alt="" style="width: 100%;">
        </div>
      </div>
      <div class="col-md-7 details">
        <div style="font-size: 28px; " class="description">
          <b style="color: #898989; font-weight: bold;">Automation</b>
          <p>
            Automatic shade provide natural light and privacy at the click of a button.
          </p>
          <b style="color: #898989; font-weight: bold;">
            Child Safety
          </b>
          <p>
            Your child’s safety is of utmost importance. For this, our motorized shades are excellent window treatment products as they provide a cordless childsafe experience for the kids, and pets too.
          </p>
          <b style="color: #898989; font-weight: bold;">
            Convenience
          </b>
          <p>
            Operating blinds and shades doesn’t get easier than this. With our motorized blinds, take control of the lighting environment in every room with the touch of a button. You have the option to program every blind to open or close to your favorite position, giving your home decor an even more personalized, special feel.

          </p>
          <b style="color: #898989; font-weight: bold;">
            Makes All Windows Accessible
          </b>
          <p>
            Forget about needing step stools or ladders to operate shades on your hard to reach windows or floor-to-ceiling glass walls. With our motorized blinds, you can fine-tune incoming amounts of light and easily control your privacy at the touch of a button.
          </p>
          <b style="color: #898989; font-weight: bold;">
            Life Just Got Easier
          </b>
          <p>
            Technology has significantly advanced in the last few years in the window treatment industry. We, at Ray Blinds, have created our motorized blinds and shades with an impeccable combination of technology and innovation, to provide you with safer, more convenient, stylish, and modern decor to dress your home. Automated options available for Cellular, Pleated, Roman, Roller, Cascade, and Real Wood Blinds.
          </p>
        </div>
        <br>


      </div>
    </div>
    </div>
    </section>
