.breadcrumb {
	padding: 0;
	background: transparent;

	span {
		cursor: initial !important;
	}

	.btn {
		background: transparent;
		border-color: transparent;
    color: $white;
    font-size: 15px;
    transform: translateX(-20px);

		&.btn--rightBorder:after {
			background: transparent;
			right: -1.5rem;
		}

		&:after {
			content: "|";
			margin: 0 5px 0 9px;
		}

		&:last-child:after {
			content: "";
		}

		&:first-child {
			padding-right: 0;
		}

		&:not(:first-child) {
			padding-left: 0;
		}
  }
  .btn:hover {
    background: transparent;
    border-color: transparent;
    color: $primary-color;
  }
  .btn--rightBorder:hover {
    background-color: transparent;
    border-color: transparent;
  }
}
