<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>
    <li>
      <a routerLink="/estimate">Estimate</a>
    </li>
    <li>
      <a routerLink="/automation">Automation</a>
    </li>
    <li>
      <a routerLink="/quiz">Get Recommendation</a>
    </li>
  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
<div class="container">
  <div class="float-right">
    <div class="toggle_icon" title="Menu Bar">
      <span></span>
    </div>
  </div>
</div>
</div>
<header class="hero-banner project-bg">
  <a class="navbar-brand" routerLink="/" style="z-index: 500000 !important;">
    <img src="../../assets/img/logo.png" alt="">
  </a>

  <div class="container">
    <h2 class="section-intro__subtitle" style="color: white !important;">Product Details</h2>
    <div class="btn-group breadcrumb">
      <a routerLink="/" class="btn">Home</a>
      <a routerLink="/products" class="btn">Products</a>
      <span class="btn ">Product-Detail</span>
    </div>
  </div>
</header>


<section class="portfolio section-margin">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title"><b>PRODUCT Detail</b></h4>
      <h2 class="section-intro__subtitle bottom-border">Smart Blinds</h2>
    </div>
    <div class="row ">
      <div class="col-md-5">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/457/Smart Blinds.png" alt="" style="width: 100%;">
        </div>
      </div>

      <div class="col-md-7 details">
        <br>
        <div style="font-size: 20px; " class="description">
          <p>
            Modernize your home with premium smart blinds. Shop today from our huge selection of Smart Blinds that guarantee customized privacy, natural light filtering and blocking, security, comfort, convenience, and luxury — just one click or voice command away. </p>
        </div>
        <img src="../../assets/img/smartBlindsLG.png" style="width: 100%; " class="largeImage">

        <br>


      </div>
      <img src="../../assets/img/smartInfo.png" style="width: 100%; " class="smallImg">

    </div>
    </div>
    </section>
