.icon-1 {
  height: 65px;
}
.btn-mobile {
  display: none;
}
.icon-3 {
  height: 45px;
}
.icon-2 {
  height: 55px;
}
.description {
  font-size: 1.2rem;
}
.portfolio__img {
  max-width: 600px !important;
}
@media screen and (max-width: 740px) {
 .section-intro__subtitle {
   text-align: center;
 }
 .description  {
   text-align: center;
 }
 .section-project {
  align-items: center !important;
  justify-content: center;
 }
 .btn  {
   text-align: center;
 }
 .btn-mobile {
   display: inline-block;
 }
 .btn-web {
   display: none;
 }
 .car-item {
   display: none;
 }
}

