<div class="side_menu">
  <ul class="list menu_right">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>
    <li>
      <a routerLink="/estimate">Estimate</a>
    </li>
    <li>
      <a routerLink="/automation">Automation</a>
    </li>

  </ul>
</div>
<div class="canvus_menu">
  <div class="container">
    <div class="float-right">
      <div class="toggle_icon" title="Menu Bar">
        <span></span>
      </div>
    </div>
  </div>
</div>
<div class="hero">
  <a class="navbar-brand" routerLink="/" style="z-index: 500000 !important;">
    <img src="../assets/img/logo.png" alt="">
  </a>
  <section>
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/heroBlinds1 - Copy.jpg" alt="Los Angeles" style="width: 100% !important;" class="deskImg">

          <img src="../../assets/img/heroBlinds1.jpg" alt="Los Angeles" style="width: 100% !important;" class="mobImg">
          <div class="hero__slideContent text-center">
            <h1>RAY BLINDS</h1>
            <p>Ray Blinds Inc is a Lower Mainland based local company offering Premium blinds & Shades.
              Our company believes in going beyond the terms of service, from amicable staff to answering your questions round the clock, making sure you have a pleasant experience.
              </p>
            <span class="hero__slideContent--right"></span>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/heroBlinds2 - Copy.jpg" alt="Chicago" style="width: 100% !important;" class="deskImg">

          <img src="../../assets/img/heroBlinds2.jpg" alt="Chicago" style="width: 100% !important;" class="mobImg">
          <div class="hero__slideContent text-center">
            <h1>RAY BLINDS</h1>
            <p>Ray Blinds Inc is a Lower Mainland based local company offering Premium blinds & Shades.
              Our company believes in going beyond the terms of service, from amicable staff to answering your questions round the clock, making sure you have a pleasant experience. </p>
            <span class="hero__slideContent--right"></span>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/heroBlinds3 - Copy.jpg" alt="New York" style="width: 100% !important;" class="deskImg">

          <img src="../../assets/img/heroBlinds3.jpg" alt="New York" style="width: 100% !important;" class="mobImg">
          <div class="hero__slideContent text-center">
            <h1>RAY BLINDS</h1>
            <p>Ray Blinds Inc is a Lower Mainland based local company offering Premium blinds & Shades.
              Our company believes in going beyond the terms of service, from amicable staff to answering your questions round the clock, making sure you have a pleasant experience.</p>
            <span class="hero__slideContent--right"></span>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </section>
  <!-- <div class="owl-carousel owl-theme heroCarousel" style="display: block !important;">
    <div class="item">
      <div class="hero__slide">
        <img src="../assets/img/hero-1.png" alt="">
        <div class="hero__slideContent text-center">
          <h1>RAY BLINDS</h1>
          <p>Ray Blinds Inc is a Lower Mainland based local company offering Premium blinds & Shades. Fabrics and mechanisms we use for blinds are imported from renowned companies. </p>
          <span class="hero__slideContent--right"></span>
        </div>
      </div>
    </div>
  </div> -->
</div>

<section class="about section-margin mb-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="about__img text-center text-md-left mb-5 mb-md-0">
          <img class="img-fluid" src="../assets/img/about.png" alt="">
          <!-- <a href="#/" class="about__img__date text-center">
            <h3>6</h3>
            <p>Years <br> of Creativity</p>
          </a> -->
        </div>
      </div>
      <div class="col-md-7 pl-xl-5">
        <div class="section-intro">
          <h4 class="section-intro__title">About our Company</h4>
          <h2 class="section-intro__subtitle bottom-border">Manufacturer to Customer Approach</h2>
        </div>
        <p class="description" style="text-align: left;">Ray Blinds – based in Lower Mainland, BC – are the premier suppliers of only the best-designed ultramodern as well as classic blinds and shades in over 10+ major cities. We offer durable pocket-friendly quality products at your convenience. Our efficient customer service, installation, and production teams work round the clock to achieve your desired degree of privacy, ambiance, & lighting.
        </p>
        <p class="description" style="text-align: left;">Trust us to design timeless, classy décor for your windows, made with top-shelf fabrics & machinery imported from leading manufacturers. Our shades & shutters include energy-efficient, mechanized, cordless alternatives in addition to multi-continental, luxurious, and traditional ones to suit your sense of aesthetic. Everything, at reasonably low prices – thanks to our direct manufacturer-to-customer approach.  Our expertly stylized world-class blinds are the perfect fit and look for your home.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- <section class="overview">
  <div class="container">
    <div class="row" style="justify-content: space-between;">
      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="media align-items-center overview__single">
          <span class="overview__single__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="72.448" height="57.958" viewBox="0 0 72.448 57.958" class="icon-1">
              <path id="Icon_awesome-crown" data-name="Icon awesome-crown" d="M59.77,50.714H12.678a1.817,1.817,0,0,0-1.811,1.811v3.622a1.817,1.817,0,0,0,1.811,1.811H59.77a1.817,1.817,0,0,0,1.811-1.811V52.525A1.817,1.817,0,0,0,59.77,50.714ZM67.015,14.49a5.435,5.435,0,0,0-5.434,5.434,5.323,5.323,0,0,0,.5,2.241l-8.2,4.913a3.618,3.618,0,0,1-5-1.313L39.654,9.622a5.434,5.434,0,1,0-6.86,0L23.568,25.764a3.62,3.62,0,0,1-5,1.313L10.38,22.165a5.432,5.432,0,1,0-4.947,3.192,5.549,5.549,0,0,0,.872-.091L14.49,47.091H57.959l8.184-21.825a5.549,5.549,0,0,0,.872.091,5.434,5.434,0,0,0,0-10.867Z" fill="#f9cc41"/>
            </svg>

          </span>
          <div class="media-body">
            <h3>56+</h3>
            <p>Projects done</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="media align-items-center overview__single">
          <span class="overview__single__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72" class="icon-2">
              <path id="Icon_awesome-smile" data-name="Icon awesome-smile" d="M36,.562a36,36,0,1,0,36,36A35.994,35.994,0,0,0,36,.562ZM47.613,24.95a4.645,4.645,0,1,1-4.645,4.645A4.64,4.64,0,0,1,47.613,24.95Zm-23.226,0a4.645,4.645,0,1,1-4.645,4.645A4.64,4.64,0,0,1,24.387,24.95ZM52.665,49.656a21.684,21.684,0,0,1-33.329,0,2.324,2.324,0,0,1,3.571-2.976,17.056,17.056,0,0,0,26.187,0C51.039,44.329,54.624,47.29,52.665,49.656Z" transform="translate(0 -0.563)" fill="#f9cc41"/>
            </svg>

          </span>
          <div class="media-body">
            <h3>100+</h3>
            <p>Happy Clients</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="media align-items-center overview__single">
          <span class="overview__single__icon" ><svg xmlns="http://www.w3.org/2000/svg" width="72" height="45.818" viewBox="0 0 72 45.818" class="icon-3">
            <path id="Icon_material-people" data-name="Icon material-people" d="M50.591,27.136a9.818,9.818,0,1,0-9.818-9.818A9.777,9.777,0,0,0,50.591,27.136Zm-26.182,0a9.818,9.818,0,1,0-9.818-9.818A9.777,9.777,0,0,0,24.409,27.136Zm0,6.545C16.784,33.682,1.5,37.511,1.5,45.136v8.182H47.318V45.136C47.318,37.511,32.035,33.682,24.409,33.682Zm26.182,0c-.949,0-2.029.065-3.175.164,3.8,2.749,6.447,6.447,6.447,11.291v8.182H73.5V45.136C73.5,37.511,58.216,33.682,50.591,33.682Z" transform="translate(-1.5 -7.5)" fill="#f9cc41"/>
          </svg>
          </span>
          <div class="media-body">
            <h3>60+</h3>
            <p>professionals</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<br>
<br>

<section class="portfolio section-margin">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title">OUR PRODUCTS</h4>
      <h2 class="section-intro__subtitle bottom-border">Catalogue Of Products</h2>
    </div>

    <div class="row align-items-end pb-md-5 mb-4">
      <div class="col-md-7 mb-4 mb-md-0">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/653/Roller Blinds.png" alt="">
        </div>
      </div>
      <div class="col-md-5 mb-5 pl-xl-5">
        <h2 class="section-intro__subtitle small">Roller Blinds</h2>
        <p class="description">Roller blinds are extremely easy to clean and conveniently operable utility shades.  Bring home the finest top-end modern functional blinds that can either block out or filter sunlight entering your home, depending on the fabric you select.</p>
        <div style="width: 100%; text-align: center !important;" class="btn-mobile">
          <a class="btn btn--rightBorder btn--leftBorder mt-3" routerLink="/productDetails/RollerBlinds">Read More</a>

        </div>
        <a class="btn btn--rightBorder mt-3 btn-web" routerLink="/productDetails/RollerBlinds">Read More</a>
      </div>
    </div>

    <div class="row align-items-end pb-md-5 mb-4 section-project">
      <div class="col-md-5 mb-5 pr-xl-5 order-2 order-md-1">
        <h2 class="section-intro__subtitle small">Zebra blinds</h2>
        <p class="description">Our uniquely designed Zebra Blinds offer the ultimate control over decor, privacy, light, and style. </p>
        <div style="width: 100%; text-align: center !important;" class="btn-mobile">
          <a class="btn btn--rightBorder btn--leftBorder mt-3" routerLink="/productDetails/Zebrablinds">Read More</a>

        </div>
        <a class="btn btn--rightBorder mt-3 btn-web"  routerLink="/productDetails/Zebrablinds">Read More</a>
      </div>
      <div class="col-md-7 mb-4 mb-md-0 order-1 order-md-2">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/653/Zebra Blinds.png" alt="">
        </div>
      </div>
    </div>

    <div class="row align-items-end pb-md-5 mb-4">
      <div class="col-md-7 mb-4 mb-md-0">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/653/Faux wood.png" alt="">
        </div>
      </div>

      <div class="col-md-5 mb-5 pl-xl-5">
        <h2 class="section-intro__subtitle small">Faux Wood Blinds</h2>
        <p class="description"> We offer the widest range of sophisticated, kid-friendly, and easy-to-clean faux wood blinds.Bring home high-end cordless moisture-resistant blinds, recommended especially for your bathroom and kitchen windows. </p>
        <div style="width: 100%; text-align: center !important;" class="btn-mobile">
          <a class="btn btn--rightBorder btn--leftBorder mt-3"  routerLink="/productDetails/FauxWoodBlinds" >Read More</a>

        </div>
        <a class="btn btn--rightBorder mt-3 btn-web" routerLink="/productDetails/FauxWoodBlinds">Read More</a>
      </div>
    </div>

    <div class="row align-items-end pb-md-5 mb-4">
      <div class="col-md-5 mb-5 pr-xl-5 order-2 order-md-1">
        <h2 class="section-intro__subtitle small">Honeycomb Blinds</h2>
        <p  class="description">Cellular Shades or Honeycomb Blinds are the perfect futuristic energy-efficient décor for your windows. Ray’s Honeycomb Blinds are the one-stop modern solution for all your privacy and environmental concerns.</p>
        <div style="width: 100%; text-align: center !important;" class="btn-mobile">
          <a class="btn btn--rightBorder btn--leftBorder mt-3" routerLink="/productDetails/HoneycombBlinds" >Read More</a>

        </div>
        <a class="btn btn--rightBorder mt-3 btn-web" routerLink="/productDetails/HoneycombBlinds">Read More</a>
      </div>

      <div class="col-md-7 order-1 order-md-2 mb-4 mb-md-0">
        <div class="portfolio__img">
          <img class="img-fluid" src="../../assets/img/653/Honeycomb Blinds.png" alt="">
        </div>
      </div>
    </div>
    <!-- <div style="width: 100%; text-align: center;">
      <a class="btn btn--rightBorder btn--leftBorder mt-3">
        Show More
      </a>
    </div> -->
  </div>
</section>
<!-- <section class="portfolio section-margin">
  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title">OUR PORTFOLIO</h4>
      <h2 class="section-intro__subtitle bottom-border">Latest Completed Projects</h2>
    </div>
    <div id="demo2" class="carousel slide" data-ride="carousel">

      <ul class="carousel-indicators">
        <li data-target="#demo2" data-slide-to="0" class="active"></li>
        <li data-target="#demo2" data-slide-to="1"></li>
        <li data-target="#demo2" data-slide-to="2"></li>
      </ul>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/Images/proj1.jpeg" alt="Los Angeles" style="width: 100% !important;">

        </div>
        <div class="carousel-item">
          <img src="../../assets/img/Images/proj2.jpeg" alt="Chicago" style="width: 100% !important;">

        </div>
        <div class="carousel-item">
          <img src="../../assets/img/Images/proj3.jpeg" alt="New York" style="width: 100% !important;">

        </div>
        <div class="carousel-item">
          <img src="../../assets/img/Images/proj-4.jpeg" alt="New York" style="width: 100% !important;">

        </div>
      </div>

      <a class="carousel-control-prev" href="#demo2" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo2" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
</div>
</section> -->

<section class="tips tips-bg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <h2 class="section-intro__subtitle">Request free In-Home or Virtual consultation</h2>
        <p>Provide your contact information and we will be in touch via phone, email or text to schedule your free consultation</p>
      </div>

      <div class="col-lg-5 text-center text-lg-right">
        <a class="btn btn-dark btn--leftBorder btn--rightBorder" routerLink="/estimate">Request</a>
      </div>
    </div>
  </div>
</section>
<section class="testimonial section-margin">

  <div class="container">
    <div class="section-intro">
      <h4 class="section-intro__title">OUR Testimonial</h4>
      <h2 class="section-intro__subtitle bottom-border">What People Say About Us</h2>
    </div>
    <div id="demo2" class="carousel slide" data-ride="carousel">

      <ul class="carousel-indicators">

        <li data-target="#demo2" data-slide-to="0" class="active"></li>
        <li data-target="#demo2" data-slide-to="1"></li>
        <li data-target="#demo2" data-slide-to="2"></li>
      </ul>

      <div class="carousel-inner">
        <div class="carousel-item active">
    <div class="row" style="display: flex;">
      <div class="col-md-6">
        <div class="media testimonial__slide">
          <img class="img-fluid mr-4 test-img" src="../assets/img/testimonial.png"  alt="">
          <div class="media-body">
            <blockquote>
              “Ray Blinds were great! We received an estimate visit and a quote within a week of contacting them. The installation was quick, and they've checked in with us to make sure we liked the final product. Great, timely communication, affordable pricing.”
            </blockquote>
            <h3 style="color: #262533;">Anna McRae</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media testimonial__slide">
          <img class="img-fluid mr-4 test-img" src="../assets/img/testimonial.png"  alt="">
          <div class="media-body">
            <blockquote>
              “I had my zebra blinds installed very impressive and satisfied the service is superb and will definitely recommend to anyone”
            </blockquote>
            <h3 style="color: #262533;">Milisa Ang</h3>
          </div>
        </div>
      </div>

    </div>
    </div>
    <div class="carousel-item ">
      <div class="row" style="display: flex;">
        <div class="col-md-6">
          <div class="media testimonial__slide">
            <img class="img-fluid mr-4 test-img" src="../assets/img/testimonial.png"  alt="">
            <div class="media-body">
              <blockquote>
                “I would recommend Ray Blinds to everybody.  very efficient and good job. the price they offer is very reasonable and affordable.  thank you Ray Blinds for the job well done.”
              </blockquote>
              <h3 style="color: #262533;">Pravina Singh </h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media testimonial__slide">
            <img class="img-fluid mr-4 test-img" src="../assets/img/testimonial.png"  alt="">
            <div class="media-body">
              <blockquote>
                “From start to finish the service and product delivered by Ray Blinds was excellent.. very attentive to customer service..totally recommend if you are looking to update your blinds”
              </blockquote>
              <h3 style="color: #262533;">Jeanine Nicholls</h3>
            </div>
          </div>
        </div>

      </div>
      </div>
      <br>
      <br>
      <br>
    </div>
    <a class="carousel-control-prev" href="#demo2" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo2" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

    </div>
  </div>
</section>
